body{
    font-family: Oswald;
    height: 5000px;
}

.amazon-and-apple{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

.apple{
    display: flex;
    flex-direction: column;
    align-items: center;    
    border: 1px, solid, black;
    height: 150px;
    width: 400px;
    text-align: center;
    margin-bottom: 18px;
}

.quality{
    margin-top: 5px;
    font-size: 12px;
    color: red;
}

.item-name{
    font-size: 20px;
    height: 10px;
}

.text-under-name{
    font-size: 45px;
    margin-top: 5px;
    height: 10px;
}

.apple-price{
    height: 5px;
    margin-top: 10px;
    font-size: 13px;
}

.buy-item-apple{
    margin-top: 20px;
    font-size: 12px;
    border: none;
    height: 20px;
    width: 40px;
    background-color: rgb(63, 119, 250);
    
    color: white;
    border-radius: 40px;
}

.amazon{    
    width: 400px;
    height: 250px;
    border: 1px solid black;
    padding: 4px 10px;
}
.amazon-back{
    font-size: 15px;
    color:rgb(0,113,133);
    text-decoration: underline;
    cursor: pointer;
    
}

.item-purpose{
    font-size: 30px;
    font-weight: bold;

    margin-top: 20px;
}

.item-price{
    font-size: 20px;
    margin-top: 20px;
    color: rgb(0,118,0);
    
}

.item-delivery{
    font-size: 15px;
    margin-top: 20px;
    
}

.item-setup{
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    margin-top: 20px;
}



.item-add-button{
    font-size: 15px;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    background-color: rgb(255,216,20);
    border: none;
    margin-top: 0;
    position: relative;
    cursor: pointer;
}

.item-add-button:hover{
    background-color: rgb(223, 223, 160);
}

.item-buy-button{
    font-size: 15px;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    background-color: rgb(255,164,28);
    border: none;
    margin-top: 0;
    position: relative;
    cursor: pointer;
    
}

.item-buy-button:hover{
    background-color: rgb(244, 211, 114);
}

.button-setup{
    display: flex;
    flex-direction: row;
    column-gap: 40px;
    background: linear-gradient(to right, rgb(255, 216, 20), rgb(255, 164, 28));
    width: 1000px;
    height: 200px;
}

.stretch{
    width: 180px;
    position: relative;
}
.stretch-button{
    margin: 30px;
    width: 120px;
    height: 50px;
    background-color: green;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    border-radius: 50px;
    transition: all 0.4s;
    
}

.stretch-button:hover{
    width: 168px;
    height: 70px;
    border-radius: 60px;

}

.list-number{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 450px;
    height: 50px;
    background: none;
    margin-top: 30px;
    font-size: 20px;
}

.button-one{
    background-color: green;
    border: none;
    color: white;
    font-size: 20px;
    border-radius: 60px;
    width: 120px;   
    transition: transform 0.3s;
    
    
}

.button-one:hover{
    font-size: 20px;
    transform: scaleX(1.2);  
}

.button-two{
    background-color: green;
    border: none;
    color: white;
    font-size: 20px;
    border-radius: 60px;
    width: 120px;
    transition: transform 0.5s;
}

.button-two:hover{
    font-size: 20px;
    transform: scaleX(1.2);  
}

.button-three{
    background-color: green;
    border: none;
    color: white;
    font-size: 20px;
    border-radius: 60px;
    width: 120px;
    transition: transform 0.7s;
}

.button-three:hover{
    font-size: 20px;
    transform: scaleX(1.2);  
}


.trade-dollar-and-twitter{
    display: flex;
    height: 160px;
    width: 1000px;
   
    
}
.trade-dollar{
    font-family: Arial, Helvetica, sans-serif;
    width: 300px;
    height: 150px;
    border: 1px solid black;
    margin: 8px;
    
}

.header{
    
    height: 50px;
    font-size: 40px;
    font-weight: 400;
    padding: 7px;


}

.usd{
    font-size: 20px;
    color: rgba(104, 104, 104);
}

.price-info{
    font-size: 18px;
    padding: 7px;
    color: green;

}

.previus-info{
    font-size: 18px;
    padding-left: 7px;
    color:rgb(60, 60, 60);
    padding-top: -10px;

}

.previus-price-info{
    font-size: 18px;
    padding: 2px;
    color: red;
}

.twitter{
    font-family: Arial, Helvetica, sans-serif;
    margin: 8px;
    height: 136px;
    border: 1px solid black;
    width: 500px;
    padding: 7px;
    
}

.twitter-header{
    
    font-size: 20px;
    font-weight: bold;


}



.twitter-describe{
    font-size: 20px;
}

.twitter-new-row{
    margin-top: 30px;
    
}

.twitter-link{
    color: rgb(83, 83, 248);
    cursor: pointer;
}

.twitter-link:hover{
    text-decoration: underline;
}

.twitter-account{
    color: gray;
}

.twitter-account:hover{
    text-decoration: underline;
}

.search-board{
    padding: 10px;
    display: flex;
    flex-direction: row;
    column-gap: 50px;
    
}

.typical-search{
    display: flex;
    border: 1px, solid, gray;
    width: 200px;
    height: 50px;
    align-items: center;
    justify-content: start;
}
.search-first{
    padding-left: 6px;
    font-size: 18px;
    width: 150px;
    height: 35px;
    margin-left: 5px;
    border: 1px,solid,gray;
    border-radius: 8px;
}

.search-first::placeholder{
    padding-left: 6px;
    font-size: 15px;
}

.search-first:focus{
    outline: none;
    padding-left: 6px;
    border-color: rgb(136, 162, 224);
}

.advanced-search{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 50px;
    border: 1px, solid, black;
}

.search-second{
    padding-left: 8px;
    width: 370px;
    height: 30px;
    border: 1px,solid,rgb(175, 175, 175);
    border-radius: 20px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
}

.search-second::placeholder{
    padding-left: 6px;
    font-size: 12px;
}

.search-second:focus{
    outline: none;
    border-color: rgb(136, 162, 224);
}

.flexible-boxes{
    margin: 6px;
    display: flex;
    flex-direction: row;
    width: 600px;
    height: 100px;
    border: 1px, solid, black;
}

.item11{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    background-color: lightpink;
}

.item1-inside{
    height: auto;
    width: auto;
    background-color: black;
    color: white;
}

.item12{
    width: 200px;
    height: 100px;
    background-color: lightblue;
    
}

.item21{
    display: flex;
    width: 100px;
    height: 100px;
    background-color: lightpink;
    
}

.item22{
    display: flex;
    flex:1 ;
    justify-content: space-between;
    width: 200px;
    height: 100px;
    background-color: lightblue;
}

.left{
    display: flex;
    flex-direction: column;
    
}

.row2{
    margin-top: 30px;
    background-color: white;
}

.right{
    
    display: flex;
    
    justify-content: space-between;
    

}
.row-right{
    margin-top: 55px;
    height: 22px;
    background-color: white;

}

.flexboxes{
    margin: 20px;
    height: 270px;
    width: 400px;
    border: 1px black;
    padding: 10px;
    border-style: dashed;
}

.a12a{
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 275px;
    border: 1px solid black;
    
}

.a12a1{
   
    width: 200px;
    background-color: rgb(227, 171, 0);
}

.a12a2{
   
    width: 75px;
    color: white;
    background-color: rgb(68, 47, 0);
}

.a12b{
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 400px;
    border: 1px solid black;
    margin-top: 20px;
}

.a12b1{
    width: 50px;
    background-color: rgb(227, 171, 0);
}

.a12b2{
    flex:1;
    color: white;
    background-color: rgb(68, 47, 0);
}

.a12b3{
    width: 75px;
    color: white;
    background-color: rgb(48, 33, 2);
}

.a12c{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    width: 400px;
    border: 1px solid black;
    margin-top: 20px;
}

.a12c1{
    width: 25px;
    background-color: rgb(227, 171, 0);
}

.a12c2{
    width: 50px;
    color: white;
    background-color: rgb(125, 85, 0);
}

.a12c3{
    width: 75px;
    color: white;
    background-color: rgb(63, 42, 0);
}

.a12c4{
    width: 100px;
    color: white;
    background-color: rgb(49, 32, 0);
}


.a12d{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 250px;
    border: 1px solid black;
    margin-top: 20px;
}

.a12d1{
   
    width: 50px;
    background-color: rgb(227, 171, 0);
}

.a12d2{
   
    width: 50px;
    color: white;
    background-color: rgb(68, 47, 0);
}
   
              
.twitter-profile{
    padding-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    width: 500px;
    height: 230px;
    border: 1px solid black;
    margin-top: 20px;
}

.twitter-logo{
    display: flex;
    width: 100px;
    padding: 10px;
    justify-content: center;
    align-items: start;

}

.twitter-img{
    width: 55px;
    border-radius: 50%;

}

.twitter-info{
    display: flex;
    flex-direction: column;
    
}

.twitter-nickname{
    padding-top: 8px;
    padding-bottom: 8px;
    height: 30px;
    font-size: 20px;
}

.nickname-twitter{
    color: rgb(90, 89, 95);
    cursor: pointer;
}

.twitter-text{
    height: 50px;
    margin-top: -3px;
    font-size: 19px;
    margin-bottom: 12px;
}



.twitter-linkk{
    display: flex;
    flex: 1;
    flex-direction: row;
    padding-bottom: 15px;
}

.link-left{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 125px;
    height: 100%;
    background-color: rgb(215, 215, 215);
}

.link-right{
    flex: 1;
    border: 1.5px solid rgb(215, 215, 215);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    
}

.link-right-text{
    color: rgb(90, 89, 95);
    padding-left: 12px;
    padding-top: 15px;
    font-size: 18px;
}

.link-right-text-info{
    font-size: 18px;
    padding-left: 12px;
    padding-right: 8px;
    margin-top: 8px;
    
}

.a14{
    position: fixed;
    width: 200px;
    bottom: 20px;
    right: 20px;
    background-color: aqua;
}